*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #EEF5FF;
}
.nav{
    background-color: #7071E8;
    position:fixed;
    width: 100%;
    top:0;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 1rem 1rem;

    
}
.nav-title{
    margin-left: 3rem;
}
.nav-search{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    margin-right: 3rem;
}
.nav-search input{
    padding-left: 1rem;
    line-height: 1.9rem;
    width: 12rem;
    border: 0;
    border-radius: 1rem 0 0 1rem ;
}
.nav-search button{
    background-color: rgb(61, 60, 62);
    line-height: 2rem;
    padding: 0 1rem 0 1rem;
    border: 0;
    border-radius: 0 1rem 1rem 0 ;
    color: white;
    cursor: pointer;
}

.result{

    margin-top: 4.5rem;

}
.result-title{
    color:#0766AD;
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem;
}
.result-title span{
    font-weight: 300;
    font-size: 1.3rem;
}
.result ol{
    padding: 3rem;
    color: #0766AD;
    min-height: 80vh;
}
.result li{
    line-height:3rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}
.result li:nth-child(2n){
    background-color:#C683D7 ;
    border-radius: 1rem;
}
.result li:nth-child(2n+1){
    background-color:#7071E8 ;
    border-radius: 1rem;
}
.result li a{
    font-size: 1.25rem;
    font-weight: 500;
    color: rgba(255,255,255, 0.8);
    text-decoration: none;
}
.result li a:hover{
    color: rgba(255,255,255, 1);
    text-decoration: underline;
}
